html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto";
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
.container {
  max-width: 1361px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
  height: auto;
}
